@media (max-width: 1125px) {
  .icon-menu {
    display: block;
    margin-left: 6px;
    cursor: pointer;
  }

  .navbar {
    padding: 0.5em 0;
  }
  .mobil-menu {
    display: grid;
  }
  .email,
  .navbar-items,
  .desk-menu {
    display: none;
  }
  .card-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .card-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-container {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .order-content {
    width: 80%;
  }

  .shopping-cart {
    place-items: center;
    width: 100%;
    display: grid;
    top: 3em;
  }
  .card-products {
    grid-template-columns: repeat(1, 1fr);
  }
  .detail-product {
    width: 100%;
  }
}
