/* Navbar */
.header {
  width: 100%;
  border-bottom: 1px solid var(--very-light-pink);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 96%;
  margin: auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  z-index: 100;
  background: #ffff;
}

.logo {
  width: 100px;
}

.navbar-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2em;
}

.navbar-item__link {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--text-md);
  color: var(--black);
  margin: 0 1em;
  display: flex;
  align-items: center;
}

.navbar-item {
  height: fit-content;
  padding: 0 1em;
}

.navbar-item__link:hover .navbar-item {
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  border-radius: 10px;
  padding: 5px 10px;
}

.email {
  color: var(--light-text);
  font-size: var(--text-sm);
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-arrow {
  width: 5px;
  margin-left: 8px;
  transform: rotate(270deg);
  transition: transform 1s;
}
.rotate {
  transform: rotate(90deg);
}

.icon-menu {
  display: none;
}

.navbar-icon__cart {
  position: relative;
  cursor: pointer;
}

.icon-shopping-notification {
  width: 20px;
  margin-left: 1em;
  margin-top: 5px;
}

.count-car {
  position: absolute;
  background: var(--hospital-green);
  color: var(--white);
  font-size: 11px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: -4px;
  right: -4px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar fin */

/* Menu Desk */
.desk-menu {
  width: 121px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  right: 3.8em;
  z-index: 90;
  background: #fff;
  transition: transform 1s;
  transform: translateY(-129%);
}
.translate {
  transform: translate(0) !important;
}
.desk-menu__content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desk-menu__tite {
  text-align: end;
}

.desk-menu__tite:last-child {
  border-top: 1px solid var(--very-light-pink);
}

.desk-menu__link {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
}

.desk-menu__tite:last-child > .desk-menu__link {
  color: var(--hospital-green);
  font-size: var(--sm);
  font-weight: 400;
}
/* Menu Desk Fin */

/* Menu Mobil */
ul[class^="mobil-menu__content"] {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 15px;
}

a[class^="mobil-menu__link"] {
  text-decoration: none;
  color: var(--black);
  margin-bottom: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: var(--text-md);
}

.icon-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.menu-title {
  font-size: var(--text-lg);
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.mobil-menu {
  display: none;
  height: 100vh;
  grid-template-rows: 10% 45% 20% 20%;
  margin: 0;
  position: absolute;
  transform: translateX(-120%);
  transition: transform 1s;
  background: #ffff;
  width: 100%;
  z-index: 100;
}

.mobil-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobil-menu__content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobil-menu__tite2 {
  margin-top: 10px;
}

.mobil-menu__tite3 > .mobil-menu__link3 {
  font-size: var(--text-sm);
  color: var(--very-light-pink);
  font-weight: 400;
}

.mobil-menu__tite3:last-child > .mobil-menu__link3 {
  color: var(--hospital-green);
}

.mobil-menu__content3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* Menu mobil fin */

/* Shopping Car */
.shopping-cart {
  width: fit-content;
  position: absolute;
  top: 3em;
  right: 0;
  transform: translateX(100%);
  transition: transform 1s;
  background: #fff;
}

.order-title__content {
  display: flex;
}

.order-title__content img {
  transform: rotate(180deg);
  margin-right: 1em;
}

.order-content {
  width: 360px;
  padding: 0 2em;
}

.order-title {
  color: var(--black);
  font-size: var(--text-lg);
}

.order-info {
  background: var(--very-light-pink);
  display: flex;
  border-radius: 10px;
  font-size: var(--text-sm);
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  height: 60px;
  padding: 0 15px;
}

.order-info__articles {
  color: var(--light-text);
  font-weight: 300;
  margin: 0;
  margin-top: 5px;
}

.cards-order {
  margin: 2em 0;
}

.card-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0;
}

.card-order__product {
  display: flex;
  align-items: center;
}

.card-order__img {
  width: 70px;
  height: 70px;
  margin: 0;
}

.card-order__img > img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 20px;
}

.card-order__title {
  color: var(--very-light-pink);
  font-size: var(--text-sm);
  margin-left: 1em;
  font-weight: 300;
}

.card-order__prices {
  font-size: var(--text-md);
  font-weight: bold;
}

.card-order__price img {
  margin-left: 1em;
}

.card-order__price {
  display: flex;
  align-items: center;
}

.card-order__btn {
  width: 100%;
  color: var(--white);
  background: var(--hospital-green);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1em;
}

/* Shopping Car Fin */

/* Card Products */
.main-container {
  width: 90%;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: auto;
}

.card-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-product {
  width: 100%;
}

.product-img {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  margin: 0 18px;
  object-fit: contain;
  cursor: pointer;
}

.card-subtitle_content {
  display: flex;
  justify-content: space-around;
}

.card-subtitle {
  display: flex;
  flex-direction: column;
}

.prices {
  font-weight: bold;
}

.icon_cart {
  align-self: center;
}
/* Card Product Fin */

/* Detail Product */
.detail-content {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  transform: scale(0);
  transition: transform 0.5s;
}

.detail-product {
  width: 360px;
  background: var(--white);
  height: min-content;
  border: 1px solid var(--very-light-pink);
  min-height: 100vh;
  position: relative;
}

.detail-product__info {
  width: 85%;
  margin: auto;
  display: grid;
  height: 100%;
}

.detail-content__product {
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.detail-product__prices {
  font-size: var(--text-md);
  font-weight: bold;
  margin-bottom: 0;
}

.detail-product__title {
  font-size: var(--text-sm);
  margin-top: 7px;
  color: var(--light-text);
  font-weight: 500;
}

.detail-product__description {
  font-size: var(--text-sm);
  margin-top: 1em;
  color: var(--light-text);
  font-weight: 500;
}

.detail-product__btn {
  width: 100%;
  background: var(--hospital-green);
  border: none;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  color: var(--white);
  align-items: center;
  margin-top: 2em;
  justify-content: center;
}

.detail-product__btn img {
  margin: 0 1em;
}

.detail-product__close {
  position: absolute;
  background: var(--white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 1em;
  left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scale {
  transform: scale(1);
}
/* Detail Product Fin */
